
source "${HOME}/.zgen/zgen.zsh"

if [[ ! -f ~/.zpm/zpm.zsh ]]; then
  git clone --recursive https://github.com/zpm-zsh/zpm ~/.zpm
fi
source ~/.zpm/zpm.zsh

zpm load \
    zsh-users/zsh-autosuggestions \
    zsh-users/zsh-syntax-highlighting \
    agkozak/zsh-z

eval "$(starship init zsh)"
