
source "${HOME}/.zgen/zgen.zsh"

source "${HOME}/.zgen/zgen.zsh"

# if the init script doesn't exist
if ! zgen saved; then

  # specify plugins here
  zgen load zsh-users/zsh-autosuggestions
  zgen load zsh-users/zsh-syntax-highlighting
  zgen load agkozak/zsh-z

  # generate the init script from plugins above
  zgen save
fi   

eval "$(starship init zsh)"

setopt auto_cd
